body {
  margin: 1%;
  background: #131313;
  color: #aaa;
}

h1{
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 50px;

}

h2{
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

h3{
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-left: 10px;
}

p {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-left: 20px;
}

.listaContenidoQuienSoy{
  color: black;
  font-family: 'Roboto Slab', serif;
}

.contenido_experiencia {
  margin-left: 10px;
}

.lista_experiencia01{
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.menu img{
  width: 190px;
  border-radius: 100%;
}

.menu {
  width: 20%;
  min-width: 150px;
  margin: 10px 10px 10px 100px;
  max-width: 200px;
  float: left;
}

.lista_menu , .lista_portfolio_web{
   list-style-type:none;
}

.lista_portfolio_web {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-portfolio{
  width: 150px;
  height: auto;
}

.link{
  background: white;
  border-radius: 5%;
  text-decoration: overline;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.contenido{
  float: left;
  width: 60%;
  margin-right: 10%;
  min-width: 500px;

}

.seccion_contenido{
  padding: 10px 0px 10px 10px;
  margin:20px;
  background-color: #fff;
  border-radius: 5px;
}
